.CategoriesHeader__HomeBtn p {
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--white);
}

.CategoriesHeader__HomeBtn {
  display: flex;
  align-items: center;
  width: 150px;
  background-color: var(--vinous);
  padding: 4px;
}

.CategoriesHeader__Header {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: var(--vinous);
}

.ScorePageHeader__Category {
  display: flex;
  align-items: center;
  width: 150px;
  background-color: var(--vinous);
  padding: 4px;
}

.ScorePageHeader__Category p {
  padding: 4px 4px 4px 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 18px;
}

.CategoriesHeader {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Card */

.ScoreCard {
  max-width: 184px;
  height: 234px;
  background-color: var(--white);
  margin-right: 15px;
  margin-bottom: 30px;
}

.ScoreCard {
  font-family: "Montserrat", sans-serif;
  color: var(--vinous);
}

.ScoreCard__Name {
  font-size: 14px;
}

.ScoreCard__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
}

.ScoreCardImage {
  padding-top: 20px;
}

.ScoreCardsContainer {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
}

/* footer */

.footerScore {
  max-width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Score_NumberOfPage {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: var(--vinous);
}

.footerScore {
  margin: 0 auto;
  margin-top: 75px;
}

.ScoreCard__Modal {
  transition: all 0.5s;
  visibility: hidden;
  position: relative;
  top: -130px;
  background-color: rgb(255, 255, 255, 0.6);
  overflow: hidden;
  height: 60%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--vinous);
  text-align: center;
}

.ScoreCardResolved:hover .ScoreCard__Modal {
  visibility: unset;
}

.ScoreCardImage {
  filter: grayscale(100%);
}

.ScoreCardImageResolved {
  filter: grayscale(0%);
}

.ScoreCard__Info {
  transition: all 0.5s;
  margin-left: -400px;
}

.ScoreCardResolved:hover .ScoreCard__Info {
  margin-left: 0;
}

.ScoreCard__Info p {
  padding-top: 15px;
}
