:root {
  --black-color: #030303;
  --white: #ffffff;
  --vinous: #660033;
  --blue: #c0cffa;
}

body {
  background-color: var(--blue);
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* test style */

