:root {
  --black-color: #030303;
  --white: #ffffff;
  --vinous: #660033;
  --blue: #c0cffa;
}

body {
  background-color: var(--blue);
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* test style */

.CategoriesHeader__HomeBtn p {
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 18px;
}

.CategoriesHeader__HomeBtn {
  display: flex;
  align-items: center;
  width: 150px;
  background-color: var(--vinous);
  padding: 4px;
}

.CategoriesHeader__Header {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: var(--vinous);
}

.ScorePageHeader__Category {
  display: flex;
  align-items: center;
  width: 150px;
  background-color: var(--vinous);
  padding: 4px;
}

.ScorePageHeader__Category p {
  padding: 4px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 18px;
}

.CategoriesHeader {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* карточка */

.ScoreCard {
  max-width: 184px;
  height: 234px;
  background-color: var(--white);
  margin-right: 15px;
  margin-bottom: 30px;
}

.ScoreCard {
  font-family: "Montserrat", sans-serif;
  color: var(--vinous);
}

.ScoreCard__Name {
  font-size: 14px;
}

.ScoreCard__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
}
.ScoreCardImage {
  padding-top: 20px;
}
.ScoreCardsContainer {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
}

/* стили футера */

.footerScore {
  max-width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Score_NumberOfPage {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: var(--vinous);
}

.footerScore {
  margin: 0 auto;
  margin-top: 75px;
}

.ScoreCard__Modal {
  transition: all 0.5s;
  visibility: hidden;
  position: relative;
  top: -130px;
  background-color: rgb(255, 255, 255, 0.6);
  overflow: hidden;
}
.ScoreCard__Modal {
  height: 60%;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: var(--vinous);
  text-align: center;
}
.ScoreCardResolved:hover .ScoreCard__Modal {
  visibility: unset;
}

.ScoreCard__Info {
  transition: all 0.5s;
  margin-left: -400px;
}
.ScoreCardResolved:hover .ScoreCard__Info {
  margin-left: 0;
}
