:root {
  --black-color: #030303;
  --white: #ffffff;
  --vinous: #660033;
  --blue: #c0cffa;
}

body {
  background-color: var(--blue);
  margin: 0 auto;
  opacity: 1;
}

.bodyDisable {
  opacity: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  opacity: 0;
}

.containerShow {
  opacity: 1;
  transition: 1s ease-in-out;
}

@media (max-width: 1024px) {
  .bodyStartPage {
    max-width: 500px;
    margin: 0 auto;
  }
}

.AnimationChangePage {
  background-color: var(--blue);
  top: 0;
  position: absolute;
  width: 100vw;
  height: 140vh;
  z-index: 1;
  left: -500%;
  transition: left 1s ease-in-out;
}

.AnimationChangePage__Show {
  left: 0%;
  transition: left 0.5s ease-in-out;
}

/* test style */
